<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <a class="navbar-brand" href="#">
    <img src="assets/img/header-logo.png" width="40" height="40" alt="logo">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['home']">HOME</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['about']">ABOUT</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['heroes']">HEROES</a>
        </li>
    </ul>

    <form class="form-inline my-2 my-lg-0" onsubmit="return false">
      <input class="form-control mr-sm-2" type="text" placeholder="Search superhero..." (keyup.enter)="searchHero(searchText.value)" #searchText>
      <button (click)="searchHero(searchText.value)" class="btn btn-outline-primary my-2 my-sm-0" type="button">Search</button>
    </form>

  </div>
</nav>
